@import './colors.scss';

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: $background-color;
  color: white;
}

// ────────────────────────────────────────────────── I ──────────
//   :::::: U T I L S : :  :   :    :     :        :          :
// ────────────────────────────────────────────────────────────
//
.float-right {
  float: right;
}

.float-left {
  float: left;
}